@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --animate-ticker: ticker linear infinite;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
